
// Main Menu
.main-nav {
  ul {
    display: flex;
    padding: 0;
    margin: 0;
  }

  li {
    display: block;
    margin-right: 15px;
    list-style: none;

    &:last-child {
      flex-grow: 1;
      text-align: right;
    }
  }

  .active {
    font-weight: 700;
  }
}

// Save status label
.save-status {
  margin: 10px 0;
  height: 30px;

  span {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #ffef87;
  }
}
